{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-expressions": "warn",
    "no-console": "off",
    "func-names": "off",
    "class-methods-use-this": "off",
    "import/no-dynamic-require": "off",
    "no-underscore-dangle": "off",
    "no-empty": "off",
    "indent": 2
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "__src": "readonly"
  }
}
